<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<script src="/assets/jquery.min.js"></script>
	Tebak kata : <span id="soal" name="soal"> <%= @x3 %> </span>
	<div>	
		<span id="arraysoal"  name="arraysoal" hidden>  <%= @arraysoal %> </span>
		Jawab : <input id="jwb" name="jwb" type="text" placeholder="Masukkan Jawaban Anda" > 
	</div>

	<br>
	<div>
		<button type='button'  id="submit" onclick="cekdata();">OK</button>
		<button type='button'  id="cekpoin" onclick="cekpoin();">Cek Poin</button>
	</div>
</body>

<script type="text/javascript">
	function cekpoin(){
		$.post("/cekpoin",
	        function(data,status){
	            alert(data)
	        });	
	}
	function cekdata(){
		if($("#jwb").val() != ""){
			$.post("/cekdata",{jwbnya: $("#jwb").val(), arraysoal:$("#arraysoal").html()},
	        function(data,status){
	        	console.log(data);
	        	if(data[0]["pesan"] == 'Jawaban Anda Benar'){
	        		$("#jwb").val("");
	        		$("#arraysoal").html(data[0]["newarraysoal"])
	        		$("#soal").html(data[0]["newsoal"])
	        	}	
	            alert(data[0]["pesan"] + ", Poin Anda :  " + data[0]["poin"])
	        });	
		}
		else{
			alert("Anda Belum Menuliskan Jawabannya.")
		}
        
	}
</script>